<!DOCTYPE html>
<html style="margin: 50px 25px;" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Facture</title>
    </head>
    <body style="margin: 0; padding: 0;">
        <div style="width: 200mm;">
            {% block body %}{% endblock %}
        </div>
        <script type="text/php">
            if(isset($pdf))
            {
                //date et page (en bas à gauche et à droite)
                $date = date("d/m/Y");
                $pdf->page_text(20, 810, "$date", null, 10, [0, 0, 0]);
                $pdf->page_text(550, 810, "{PAGE_NUM} / {PAGE_COUNT}", null, 10, [0, 0, 0]);

                //numéro de facture (en haut à droite)
                // il faut faire set invoiceNumber =   dans les blocks body
                $invoiceNumberLine = "{{ 'invoice_number' | trans({'{number}': invoiceNumber ?? ''}, 'messages', lang) }}";
                $invoiceNumberWidth = $pdf->get_text_width($invoiceNumberLine, null, 15);
                $pdf->page_text(585 - $invoiceNumberWidth, 15, $invoiceNumberLine, null, 15, [0, 0, 0]);

                //vendorDetail  (en bas)
                // il faut faire set vendorDetail =   dans les blocks body
                $firstLine = "{% if vendorIsCocktailissimo %}Cocktailissimo, 101 b rue Georges Lassalle 40220 Tarnos - France{% else %}{{ vendorDetail.socialName }} - {{ vendorDetail.socialAddress.lineOne }} {{ vendorDetail.socialAddress.postcode }} {{ vendorDetail.socialAddress.city }} - {{ vendorDetail.socialAddress.country | trans({}, 'countries', lang) }}{% if vendorDetail.socialAddress.state %} ({{ vendorDetail.socialAddress.state}}){% endif %}{% endif %}";
                $pdf->page_text(60, 760, $firstLine, null, 8, [0, 0, 0]);

                $pdf->page_text(60, 770, "{{ 'identification_number' | trans({}, 'messages', lang) }} : {{ vendorIsCocktailissimo ? '97853641500018': vendorDetail.identificationNumber }}" , null, 8, [0, 0, 0]);
                $pdf->page_text(60, 780, "{{ 'vat_number' | trans({}, 'messages', lang) }} : {{ vendorIsCocktailissimo ? 'FR93978536415': vendorDetail.vatNumber ?? '-' }}", null, 8, [0, 0, 0]);
                
                $lastLine = "{{ vendorIsCocktailissimo ? ('cocktailissimo_rcs_line' | trans({}, 'messages', lang)): '' }}";
                $pdf->page_text(60, 790, $lastLine, null, 8, [0, 0, 0]);
            }
        </script>
        {% block additionalScript %}{% endblock %}
    </body>
</html>