{% extends 'pdf/invoice/base.html.twig' %}

{# pour en-tête standard du pdf (dans base) #}
{% set invoiceNumber = purchaseVendorGroup.salesInvoiceNumber %}
{% set vendorDetail = purchaseVendorGroup.vendorDetail %}


{% set purchase = purchaseVendorGroup.purchase %}
{% set customerDetail = purchase.customerDetail %}

{% block body %}
    <div style="text-align: right">
        <div>{{ 'invoice_date' | trans({}, 'messages', lang) }} : {{ purchase.createdAt | date_geoformat(lang) }}</div>
        <div>{{ 'purchase_ref' | trans({}, 'messages', lang) }} : {{ purchase.ref }}</div>
        <div>{{ 'purchase_date' | trans({}, 'messages', lang) }} : {{ purchase.createdAt | date_geoformat(lang) }}</div>
    </div>

    {% if customerDetail.company %}
        <div style="margin: 40px 0;">
            <div><strong>{{ 'customer' | trans({}, 'messages', lang) }} :</strong> {{ customerDetail.company }}</div>
            {% if customerDetail.vatNumber %}
                <div>{{ 'vat_number' | trans({}, 'messages', lang) }} : {{ customerDetail.vatNumber }} </div>
            {% endif %}
    {% endif %}

    <div style="margin: 40px 0;">
        <div style="float: left; margin-right: 50px;">
            <div style="font-size: 1.1rem; font-weight: 600;">{{ 'delivery_address' | trans({}, 'messages', lang) }}</div>
            <div style="margin: 10px 0;">
                {% if purchaseVendorGroup.shippingInfo.type == 'shipping_type.relay' %}
                    {% set relayInfo = purchaseVendorGroup.shippingInfo.relayInfo %}
                    <div>{{ relayInfo.name }}</div>
                    {{ include('UI/_light_address.html.twig', {address: relayInfo.address}) }}
                {% else %}
                    {{ include('UI/_address.html.twig', {address: purchase.deliveryDetail}) }}
                {% endif %}
            </div>
        </div>
        <div>
            <div style="font-size: 1.1rem; font-weight: 600;">{{ 'invoice_address' | trans({}, 'messages', lang) }}</div>
            <div style="margin: 10px 0;">
                {{ include('UI/_address.html.twig', {address: purchase.invoiceDetail}) }}
            </div>
        </div>
    </div>

   {{ include('/UI/invoice/_purchase_vendor_group.html.twig', {purchaseVendorGroup, lang}) }}

    <div style="margin-top: 10px; margin-bottom: 20px;">
        {% set articlesPrice = purchaseVendorGroup.articlesPrice %}
        {% set totalPrice = purchaseVendorGroup.totalPrice %}
        {% set shippingPrice = purchaseVendorGroup.shippingInfo.price %}
        <table style="padding: 10px; border: solid 1px rgb(225, 225, 225); margin-left: auto; margin-right: auto;">
            <tbody>
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ 'total_articles' | trans({}, 'messages', lang) }}</td>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ totalPrice.priceToPay | price_format(lang) }}</td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ 'shipping_cost' | trans({}, 'messages', lang) }}</td>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ shippingPrice.priceToPay | price_format(lang) }}</td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ 'total_ht' | trans({}, 'messages', lang) }}</strong></td>
                    <td style="vertical-align: top; padding: 5px 30px"><strong>{{ totalPrice.priceHT | price_format(lang) }}</strong></td>
                </tr>
                {% if totalPrice.payType == 'pay_price_ttc' %}
                    <tr>
                        <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ 'total_vat' | trans({}, 'messages', lang) }}</strong></td>
                        <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ totalPrice.vatAmount | price_format(lang) }}</strong></td>
                    </tr>   
                {% endif %}
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ 'total_invoice' | trans({}, 'messages', lang) }}</strong></td>
                    <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ totalPrice.priceToPay | price_format(lang) }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin: 40px 0; font-size: .9em;">
        <p>{{ 'invoice_payment_terms' | trans({}, 'messages', lang) }}</p>
    </div>

{% endblock %}