{% extends 'pdf/invoice/base.html.twig' %}

{# pour en-tête standard du pdf (dans base) #}
{% set invoiceNumber = purchaseVendorGroup.salesInvoiceNumber %}
{% set vendorDetail = purchaseVendorGroup.vendorDetail %}


{% set purchase = purchaseVendorGroup.purchase %}
{% set customerDetail = purchase.customerDetail %}

{% block body %}
    <div style="text-align: right">
        <div>{{ 'invoice_date' | trans({}, 'messages', lang) }} : {{ purchase.createdAt.format('d/m/Y') }}</div>
        <div>{{ 'purchase_ref' | trans({}, 'messages', lang) }} : {{ purchase.ref }}</div>
        <div>{{ 'purchase_date' | trans({}, 'messages', lang) }} : {{ purchase.createdAt.format('d/m/Y') }}</div>
    </div>

    {% if customerDetail.company %}
        <div style="margin: 40px 0;">
            <div><strong>{{ 'customer' | trans({}, 'messages', lang) }} :</strong> {{ customerDetail.company }}</div>
            {% if customerDetail.vatNumber %}
                <div>{{ 'vat_number' | trans({}, 'messages', lang) }} : {{ customerDetail.vatNumber }} </div>
            {% endif %}
    {% endif %}

    <div style="margin: 40px 0;">
        <div style="float: left; margin-right: 50px;">
            <div style="font-size: 1.1rem; font-weight: 600;">{{ 'delivery_address' | trans({}, 'messages', lang) }}</div>
            <div style="margin: 10px 0;">
                {% if purchaseVendorGroup.shippingInfo.type == 'shipping_type.relay' %}
                    {% set relayInfo = purchaseVendorGroup.shippingInfo.relayInfo %}
                    <div>{{ relayInfo.name }}</div>
                    {{ include('UI/_light_address.html.twig', {address: relayInfo.address}) }}
                {% else %}
                    {{ include('UI/_address.html.twig', {address: purchase.deliveryDetail}) }}
                {% endif %}
            </div>
        </div>
        <div>
            <div style="font-size: 1.1rem; font-weight: 600;">{{ 'invoice_address' | trans({}, 'messages', lang) }}</div>
            <div style="margin: 10px 0;">
                {{ include('UI/_address.html.twig', {address: purchase.invoiceDetail}) }}
            </div>
        </div>
    </div>
    <div style="margin: 40px 0;">
        <table style="margin-left: -10px;">
            <thead>
                <tr>
                    <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'description' | trans({}, 'messages', lang) }}</th>
                    <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'quantity' | trans({}, 'messages', lang) }}</th>
                    <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'unit_price' | trans({}, 'messages', lang) }}<br>{{ 'ht' | trans({}, 'messages', lang) }}</th>
                    {% if purchaseVendorGroup.articlesPrice.payType == 'pay_price_ttc' %}
                        <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'vat_rate' | trans({}, 'messages', lang) }}</th>
                        <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'unit_price' | trans({}, 'messages', lang) }}<br>{{ 'ttc' | trans({}, 'messages', lang) }}</th>
                        <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'total_ttc' | trans({}, 'messages', lang) }}</th>
                    {% else %}
                        <th style="text-align: left; padding: 5px 10px; vertical-align: top;">{{ 'total_ht' | trans({}, 'messages', lang) }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for purchaseLine in purchaseVendorGroup.purchaseLines %}
                    <tr>
                        <td style="vertical-align: top; padding: 5px 10px;">{{ attribute(purchaseLine.designation, lang) }} {{ attribute(purchaseLine.packagingLabel, lang) }} - réf. {{ purchaseLine.publicRef }}</td>
                        <td style="vertical-align: top; padding: 5px 10px;">{{ purchaseLine.quantity }}</td>
                        <td style="vertical-align: top; padding: 5px 10px;">{{ purchaseLine.unitPrice.priceHT | price_format(lang) }}</td>
                        {% if purchaseLine.unitPrice.payType == 'pay_price_ttc' %}
                            <td style="vertical-align: top; padding: 5px 10px;">{{ purchaseLine.unitPrice.vatRate / 10 }}%</td>
                            <td style="vertical-align: top; padding: 5px 10px;">{{ purchaseLine.unitPrice.priceTTC | price_format(lang) }}</td>
                            <td style="vertical-align: top; padding: 5px 10px;">{{ purchaseLine.totalPrice.priceTTC | price_format(lang) }}</td>
                        {% else %}
                            <td style="vertical-align: top; padding: 5px 10px;">{{ purchaseLine.totalPrice.priceHT | price_format(lang) }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% set shippingPrice = purchaseVendorGroup.shippingInfo.price %}
                <tr>
                    <td style="vertical-align: top; padding: 5px 10px;">{{ 'delivery' | trans({}, 'messages', lang) }}</td>
                    <td style="vertical-align: top; padding: 5px 10px;"></td>
                    <td style="vertical-align: top; padding: 5px 10px;">{{ shippingPrice.priceHT | price_format(lang) }}</td>
                    {% if shippingPrice.payType == 'pay_price_ttc' %}
                        <td style="vertical-align: top; padding: 5px 10px;">{{ shippingPrice.vatRate / 10 }}%</td>
                        <td style="vertical-align: top; padding: 5px 10px;"></td>
                        <td style="vertical-align: top; padding: 5px 10px;">{{ shippingPrice.priceTTC | price_format(lang) }}</td>
                    {% else %}
                        <td style="vertical-align: top; padding: 5px 10px;">{{ shippingPrice.priceHT | price_format(lang) }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 10px; margin-bottom: 20px;">
        {% set articlesPrice = purchaseVendorGroup.articlesPrice %}
        {% set totalPrice = purchaseVendorGroup.totalPrice %}
        <table style="padding: 10px; border: solid 1px; margin-left: auto; margin-right: auto;">
            <tbody>
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ 'total_articles' | trans({}, 'messages', lang) }}</td>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ totalPrice.priceToPay | price_format(lang) }}</td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ 'shipping_cost' | trans({}, 'messages', lang) }}</td>
                    <td style="vertical-align: top; padding: 5px 30px;">{{ shippingPrice.priceToPay | price_format(lang) }}</td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ 'total_ht' | trans({}, 'messages', lang) }}</strong></td>
                    <td style="vertical-align: top; padding: 5px 30px"><strong>{{ totalPrice.priceHT | price_format(lang) }}</strong></td>
                </tr>
                {% if totalPrice.payType == 'pay_price_ttc' %}
                    <tr>
                        <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ 'total_vat' | trans({}, 'messages', lang) }}</strong></td>
                        <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ totalPrice.vatAmount | price_format(lang) }}</strong></td>
                    </tr>   
                {% endif %}
                <tr>
                    <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ 'total_invoice' | trans({}, 'messages', lang) }}</strong></td>
                    <td style="vertical-align: top; padding: 5px 30px;"><strong>{{ totalPrice.priceToPay | price_format(lang) }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin: 40px 0; font-size: .9em;">
        <p>{{ 'invoice_payment_terms' | trans({}, 'messages', lang) }}</p>
    </div>

{% endblock %}