{% extends 'base.html.twig' %}

{% block page_head %}
    {{ include('layouts/head/_page_head_tags.html.twig', {
        title: ('forgotten_password' | trans)
    }) }}
{% endblock %}

{% block body %}

    <div class="security" data-controller="formloading">

        <div class="security-form-wrapper">
            <h1 class="security-title-small">{{ 'password_recovery' | trans }}</h1>

            <form method="post" class="security-form">
                <div class="form-group email-group {{ error ? 'is-invalid': '' }}">
                    <div class="input-wrapper" data-controller="formfield">
                        <label class="form-label email-label" for="email">{{ 'enter_account_email' | trans }}</label>
                        <input class="form-control email-control" type="text" name="email" id="email" maxlength="200">
                    </div>
                    {% if error %}
                        <div class="form-error email-error">{{ error }}</div>
                    {% endif %}
                </div>

                <div class="submit-group">
                    <button class="form-button bordeaux no-react security-button" type="submit">
                        <svg class="icon loader form-button-loader" aria-label="{{ 'loading' | trans }}">
                            <use xlink:href="/img/icons/sprite.svg#loader"></use>
                        </svg>
                        <span>{{ 'submit.validate' | trans }}</span>
                    </button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}
