{% extends 'base.html.twig' %}

{% block page_head %}
    {{ include('layouts/head/_page_head_tags.html.twig', {
        title: ('reset_password' | trans)
    }) }}
{% endblock %}

{% block body %}
    <div class="security" data-controller="formloading">

        <div class="security-form-wrapper">
            <h1 class="security-title-small">{{ 'reset_password' | trans }}</h1>
            <div class="security-form">
                {{ form_start(form) }}
                
                {{ include('form/_form_row_with_label_down.html.twig', {name: 'password', label: ('new_password' | trans), field: form.password}) }}

                {{ include('form/_form_row_with_label_down.html.twig', {name: 'passwordConfirm', label: ('password_confirm' | trans), field: form.passwordConfirm}) }}
                
                <input type="hidden" name="token" value={{ reset_token }}>

                <div class="submit-group">
                    <button class="form-button bordeaux no-react security-button" type="submit">
                        <svg class="icon loader form-button-loader" aria-label="{{ 'loading' | trans }}">
                            <use xlink:href="/img/icons/sprite.svg#loader"></use>
                        </svg>
                        <span>{{ 'submit.validate' | trans }} </span>
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}
