{% extends "base.html.twig" %}

{% block lang_alternate %}
    {% for lang in ['en', 'fr', 'es', 'it'] %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ url('article_subCategoryShow', {
            _locale: lang, 
            subCategorySlug: attribute(subCategory.slug, lang)
        }) }}" />
    {% endfor %}
{% endblock %}

 {% block metaDescription %}
    {% if subCategory.metaDescription %}
        <meta name="description" content="{{ attribute(subCategory.metaDescription, app.request.locale) }}">
    {% endif %}
{% endblock %}

{% block page_head %}
    {{ include('layouts/head/_page_head_tags.html.twig', {
        title: attribute(subCategory.name, app.request.locale),
        type: 'article.group',
        image: '/img/categories/' ~ subCategory.picture
    }) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('articleCategoryShow') }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ encore_entry_link_tags('articleCategoryShow') }}
{% endblock %}

{% set headerClass = 'header product-page-header' %}


{% block body %}
    <div class="product-index-banner">
        <img class="product-index-banner-img" src="/img/categories/{{ subCategory.picture }}" alt="{{ attribute(subCategory.pictureAlt, app.request.locale) }}" />
        <div class="product-index-banner-text">
            <h1 class="product-index-banner-title">{{ attribute(subCategory.name, app.request.locale) }}</h1>
            <p class="product-index-banner-subtitle">
                {{ attribute(subCategory.shortDescription, app.request.locale) }}
            </p>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="{{ path('home', {_locale: app.request.locale}) }}" class="breadcrumb-home-link">{{ 'home' | trans }}</a>
        >
        <a href="{{ path('article_index', {_locale: app.request.locale}) }}" class="breadcrumb-link">{{ 'newspaper' | trans }}</a>
        >
        <span class="breadcrumb-item">{{ attribute(subCategory.name, app.request.locale) }}</span>
    </div>

    <div id="article-category-show" data-subcategoryid="{{ subCategory.id }}">
    </div>
    
    <div class="product-index-footer link-underline">
        {{ attribute(subCategory.longHtmlDescription, app.request.locale) | parse_master_tags(app.request.locale) | raw }}
    </div>

{% endblock %}
