{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="breadcrumb">
        <a href={{ path('admin_home') }} class="breadcrumb-home-link">Administration</a>
        >
        <a href={{ path('admin_purchase_index') }} class="breadcrumb-link">Commandes ({{count_purchases}})</a>
    </div>


    <div class="admin-container">
        <h1>Commandes</h1>

        {# filtres #}
        {{ form_start(form) }}
            <div class="admin-filters-container">
                <div class="admin-filters">
                    <div class="admin-filters-row">            
                        {{ include('admin/form/_admin_form_row.html.twig', {name: 'status', label: 'Filtrer par statut', field: form.status}) }}
                    </div>
                    <div class="admin-filters-row">   
                        {{ include('admin/form/_admin_form_row.html.twig', {name: 'sortBy', label: 'Tri', field: form.sortBy}) }}
                    </div>
                </div>
                <div class="admin-filters-submit">
                    <button type="submit" class="admin-button">Recherche</button>
                </div>
            </div>
        {{ form_end(form) }}


        {# total items count #}
        <div class="admin-count">
            {{ pagination.getTotalItemCount }} résultat{% if pagination.getTotalItemCount > 1 %}s{% endif %}
            
        </div>
        
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Réf.</th>
                    <th>Client</th>
                    <th>Adresse de livraison</th>
                    <th>Adresse de facturation</th>
                    <th>Nb d'articles</th>
                    <th>Prix payé</th>
                    <th>Statut</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in pagination %}
                    {% set customerDetail = purchase.customerDetail %}
                    <tr{% if purchase.strong %} class="strong"{% endif %}>

                        <td>{{ purchase.ref }}</td>
                        <td>
                            {% if customerDetail.company %}
                                <div>{{ customerDetail.company }}</div>
                            {% endif %}
                            {% if customerDetail.vatNumber %}
                                <div>{{ customerDetail.vatNumber }}</div>
                            {% endif %}
                            <div style="margin: 4px 0;">
                                {{ customerDetail.civility | trans({}, 'configs', 'fr') }} {{ customerDetail.firstName }} {{ customerDetail.lastName }}
                            </div>
                            <div style="margin: 4px 0;">{{ customerDetail.email }}</div>
                            <div style="margin: 4px 0;">{{ customerDetail.phone }}</div>
                        </td>
                        <td>
                            {{ include('UI/_address.html.twig', {address: purchase.deliveryDetail}) }}
                        </td>
                        <td>
                            {{ include('UI/_address.html.twig', {address: purchase.invoiceDetail}) }}
                        </td>
                        <td>{{ purchase.countArticles }}</td>
                        <td style="text-align: left;">
                            <table class="inner-table">
                                <tbody>
                                    <tr>
                                        <td style="padding: 5px 10px;">Articles</td>
                                        <td style="padding: 5px 10px;">{{ purchase.articlesPrice.priceToPay | price_format('fr') }}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 10px;">Livraison</td>
                                        <td style="padding: 5px 10px;">{{ purchase.shippingCost.priceToPay | price_format('fr') }}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 10px;">Total</td>
                                        <td style="padding: 5px 10px;">{{ purchase.totalPrice.priceToPay | price_format('fr') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>{{ purchase.status | trans({}, 'configs', 'fr') }}</td>
                        <td>{{ purchase.createdAt.format('d/m/Y H:i') }}</td>
                        <td class="controls">
                            <a class="admin-table-button success" href="{{ path('admin_purchase_show', {id: purchase.id}) }}" title="Voir la commande">
                                <svg class="icon">
                                    <use xlink:href="/img/icons/admin_sprite.svg#eye"></use>
                                </svg>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <div class="admin-navigation">
            {{ knp_pagination_render(pagination, 'admin/layouts/_admin_pagination.html.twig') }}
        </div>

   </div>

{% endblock %}