{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="breadcrumb">
        <a href={{ path('admin_home') }} class="breadcrumb-home-link">Administration</a>
        >
        <a href={{ path('admin_purchase_index') }} class="breadcrumb-link">Commandes ({{count_purchases}})</a>
        >
        <span class="breadcrumb-item">Commande {{ purchase.ref }}</span>
    </div>

    <h1>Commande {{ purchase.ref }}</h1>

    <div class="admin-product-show" style="max-width: 700px;">
        
        {{ include('admin/parts/_show_row.html.twig', {value: purchase.ref, label: 'Réf.', name: 'ref'}) }}

        {% set customerDetail = purchase.customerDetail %}
        {% set civilState = (customerDetail.civility | trans({}, 'configs', 'fr')) ~ ' ' ~ customerDetail.firstName ~ ' ' ~ customerDetail.lastName %}

        {% if customerDetail.company %}
            {{ include('admin/parts/_show_row.html.twig', {value: customerDetail.company, label: 'Entreprise', name: 'civilState'}) }}
        {% endif %}
        {% if customerDetail.vatNumber %}
            {{ include('admin/parts/_show_row.html.twig', {value: customerDetail.vatNumber, label: 'Entreprise', name: 'civilState'}) }}
        {% endif %}

        {{ include('admin/parts/_show_row.html.twig', {value: civilState, label: 'Client', name: 'civilState'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: customerDetail.email, label: 'Adresse email', name: 'email'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: customerDetail.phone, label: 'Numéro de téléphone', name: 'phone'}) }}
        
        <div class="admin-product-show-row">
            <div class="admin-product-show-row-label">Détail de la commande</div>
            {% for purchaseVendorGroup in purchase.purchaseVendorGroups %}
                <div style="margin: 40px 0 60px; padding-left: 20px; border-left: solid 4px;">
                    {% set vendorDetail = purchaseVendorGroup.vendorDetail %}
                    <p style="font-weight: 600;">{{ vendorDetail.socialName }} - n° siret {{ vendorDetail.identificationNumber }}</p>
                    {% set shippingInfo = purchaseVendorGroup.shippingInfo %}
                    <p>
                        <span>{{ shippingInfo.type | trans({}, 'configs', 'fr') }}</span>
                        {% if shippingInfo.type == 'shipping_type.relay' %}
                            {% set relayInfo = shippingInfo.relayInfo %}
                            <span>
                                - {{ relayInfo.name }} {{ relayInfo.address.lineOne }} {% if relayInfo.address.lineTwo %} {{ relayInfo.address.lineTwo }}{% endif %} {{ relayInfo.address.postcode }} {{ relayInfo.address.city }} {{ relayInfo.address.country | trans({}, 'countries', 'fr') }}
                            </span>
                        {% endif %}
                    </p>
                    <p>{{ shippingInfo.carrier }} - {{ shippingInfo.name }} - {{ shippingInfo.price.priceToPay | price_format('fr') }} - {{ shippingInfo.leadTimeHours }}h</p>
                    <p>Tracking : {{ shippingInfo.tracking }}</p>
                    <div style="margin: -20px 0;">
                        {{ include('UI/invoice/_purchase_vendor_group.html.twig', {purchaseVendorGroup, lang: 'fr'}) }}
                    </div>
                    {# REACT #}
                    <div 
                        class="purchase-shipping-status-updater" 
                        data-shippinginfoid="{{ shippingInfo.id }}" 
                        data-currentstatus="{{ shippingInfo.status }}"
                        >
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="admin-product-show-row">
            <div class="admin-product-show-row-label">Adresse de livraison</div>
            <div class="deliveryDetail">
                {{ include('UI/_address.html.twig', {address: purchase.deliveryDetail}) }}
            </div>
        </div>
        
        <div class="admin-product-show-row">
            <div class="admin-product-show-row-label">Adresse de facturation</div>
            <div class="invoiceDetail">
                {% set detail = purchase.invoiceDetail %}
                {{ include('UI/_address.html.twig', {address: purchase.invoiceDetail}) }}
            </div>
        </div>


        {{ include('admin/parts/_show_row.html.twig', {value: (purchase.status | trans({}, 'configs', 'fr') ), label: 'Statut', name: 'status'}) }}

        {{ include('admin/parts/_show_row.html.twig', {value: purchase.createdAt.format('d/m/Y H:i'), label: 'Passée le', name: 'createdAt'}) }}

    </div>

{% endblock %}