{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="breadcrumb">
        <a href={{ path('admin_home') }} class="breadcrumb-home-link">Administration</a>
        >
        <a href={{ path('admin_article_index') }} class="breadcrumb-link">Articles ({{count_article}})</a>
        >
        <span class="breadcrumb-item">{{ article.title.fr }}</span>
    </div>

    <div class="admin-product-show lang-switch-wrapper">
            
        <h1>{{ article.title.fr }}</h1>

        {{ include('admin/shop/product/parts/_lang_controls.html.twig', {default: 'fr'}) }}

        <div class="admin-product-show-pictures">
            {% if article.picture is not null %}
            {{ include('admin/parts/_show_img.html.twig', {picture: article.picture, label: 'Photo', name: 'picture', img_filter: 'small_landscape'}) }}  {# name utile seulement pour les tests #}
            {% endif %}
        </div>
        
        {{ include('admin/parts/_show_row.html.twig', {value: article.title.en, label: 'Titre (EN)', name: 'enTitle', lang: 'en'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.title.fr, label: 'Titre (FR)', name: 'frTitle', lang: 'fr'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.title.es, label: 'Titre (ES)', name: 'esTitle', lang: 'es'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.title.it, label: 'Titre (IT)', name: 'itTitle', lang: 'it'}) }}

        {{ include('admin/parts/_show_row.html.twig', {value: article.subtitle.en, label: 'Sous-titre (EN)', name: 'enSubtitle', lang: 'en'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.subtitle.fr, label: 'Sous-titre (FR)', name: 'frSubtitle', lang: 'fr'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.subtitle.es, label: 'Sous-titre (ES)', name: 'esSubtitle', lang: 'es'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.subtitle.it, label: 'Sous-titre (IT)', name: 'itSubtitle', lang: 'it'}) }}

        
        {{ include('admin/parts/_show_row.html.twig', {value: article.slug.en, label: 'Slug (EN)', name: 'enSlug', lang: 'en'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.slug.fr, label: 'Slug (FR)', name: 'frSlug', lang: 'fr'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.slug.es, label: 'Slug (ES)', name: 'esSlug', lang: 'es'}) }}
        {{ include('admin/parts/_show_row.html.twig', {value: article.slug.it, label: 'Slug (IT)', name: 'itSlug', lang: 'it'}) }}
        
        {% if article.metaDescription %}
            {{ include('admin/parts/_show_row.html.twig', {value: article.metaDescription.en, label: 'Méta-description (EN)', name: 'enMetaDescription', lang: 'en'}) }}
            {{ include('admin/parts/_show_row.html.twig', {value: article.metaDescription.fr, label: 'Méta-description (FR)', name: 'frMetaDescription', lang: 'fr'}) }}
            {{ include('admin/parts/_show_row.html.twig', {value: article.metaDescription.es, label: 'Méta-description (ES)', name: 'esMetaDescription', lang: 'es'}) }}
            {{ include('admin/parts/_show_row.html.twig', {value: article.metaDescription.it, label: 'Méta-description (IT)', name: 'itMetaDescription', lang: 'it'}) }}
        {% endif %}

        {{ include('admin/parts/_html_show_row.html.twig', {name: 'enHtmlContent', label: 'Contenu (EN)', value: (article.htmlContent.en | parse_master_tags('en')), lang: 'en'}) }}
        {{ include('admin/parts/_html_show_row.html.twig', {name: 'frHtmlContent', label: 'Contenu (FR)', value: (article.htmlContent.fr | parse_master_tags('fr')), lang: 'fr'}) }}
        {{ include('admin/parts/_html_show_row.html.twig', {name: 'esHtmlContent', label: 'Contenu (ES)', value: (article.htmlContent.es | parse_master_tags('es')), lang: 'es'}) }}
        {{ include('admin/parts/_html_show_row.html.twig', {name: 'itHtmlContent', label: 'Contenu (IT)', value: (article.htmlContent.it | parse_master_tags('it')), lang: 'it'}) }}


        {{ include('admin/parts/_show_row.html.twig', {name: 'countViews', label: 'Vues', value: article.countViews ?? 0}) }}

        {{ include('admin/parts/_show_row.html.twig', {name: 'ref', label: 'Réf.', value: article.ref}) }}

        {{ include('admin/parts/_show_row.html.twig', {name: 'createdAt', label: 'Date de création', value: article.createdAt.format('d/m/Y H:i')}) }}

        <div class="admin-product-show-row">
            <div class="admin-product-show-row-label">Recettes liées</div>
            <ul class="admin-product-list">
                {% for linkedRecipe in article.linkedRecipes %}
                    <li class="admin-product-list-item suggestedProducts">
                        <img class="admin-product-list-item-img" src={{ linkedRecipe.picture | picture_path_resolver('index') }} alt={{ linkedRecipe.picture | picture_alt_resolver('fr') }}>
                        <div class="admin-product-list-item-text">
                            <strong class="suggestedProduct">{{ linkedRecipe.title.fr }}</strong>
                            {% for subCategory in linkedRecipe.subCategories %}
                                / {{ subCategory.name.fr }}
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="admin-product-show-row">
            <div class="admin-product-show-row-label">Produits liés</div>
            <ul class="admin-product-list">
                {% for linkedProduct in article.linkedProducts %}
                    {% set picture = product_picture_position_resolver(linkedProduct, 1) %}
                    <li class="admin-product-list-item suggestedProducts">
                        <img class="admin-product-list-item-img" src={{ picture | picture_path_resolver('index') }} alt={{ picture | picture_alt_resolver('fr') }}>
                        <div class="admin-product-list-item-text">
                            <strong class="suggestedProduct">{{ linkedProduct.designation.fr }}</strong> 
                            {{ linkedProduct.subCategory.name.fr }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="admin-buttons-wrapper">
            <a class="admin-button" href={{ path('admin_article_update', {id: article.id}) }}>Modifier</a>
            <form action={{ path('admin_article_delete') }} method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('delete-article') }}">
                <button class="admin-button secondary-color" type="submit" name="id" value={{ article.id }}
                        data-controller="deleteconfirm" data-deletemessage="{{ 'Supprimer définitivement l\'article "' ~ article.title.fr ~ '" ?' }}"
                >
                    Supprimer
                </button>
            </form>
        </div>

    </div>


{% endblock %}