{% extends "email/base.html.twig" %}

{% set lang = purchase.lang %}

{% block title %}{{ 'purchase.confirmation.title' | trans({}, 'emails', lang) }}{% endblock %}

{% block h1 %}{{ 'purchase.confirmation.title' | trans({}, 'emails', lang) }}{% endblock %}

{% block body %}

    <div style="margin: 40px 0;">
        <p style="font-size: 1.1rem;">{{ 'purchase.confirmation.title' | trans({}, 'emails', lang) }}</p>
        <p style="font-size: 1.1rem;">{{ 'purchase.summary.title' | trans({}, 'emails', lang) }}</p>
    </div>

    {{ include('email/customer/parts/_purchase_customer_infos.html.twig', {purchase, lang}) }}

    {{ include('email/customer/parts/_purchase_detail.html.twig', {purchase, lang}) }}

    {{ include('email/customer/parts/_account_purchase_link.html.twig', {lang}) }}

{% endblock %}















