{% extends "email/base.html.twig" %}

{% set lang = purchase.lang %}

{% block title %}{{ 'purchase.cancelation.title' | trans({}, 'emails', lang) }}{% endblock %}

{% block h1 %}{{ 'purchase.cancelation.title' | trans({}, 'emails', lang) }}{% endblock %}

{% block body %}

    <div style="margin: 40px 0;">
        <p style="font-size: 1.1rem;">{{ 'purchase.cancelation.title' | trans({}, 'emails', lang) }}</p>
        <p style="font-size: 1.1rem;">{{ 'reference' | trans({}, 'messages', lang) }} : {{ purchase.ref }}</p>
        <p style="font-size: 1.1rem;">
            {{ 'purchase.cancelation.info' | trans({
                '{url}': url('contact_index', {_locale: lang}),
                '{ref}': purchase.ref
            }, 'emails', lang) | raw }}
        </p>
    </div>

{% endblock %}
