<div class="address-show-compact">
    <div class="capitalize">{{ address.civility | trans({}, 'configs') }} {{ address.firstName }} {{ address.lastName }}</div>
    <div>{{ address.lineOne }}</div>
    {% if address.lineTwo %}
        <div>{{ address.lineTwo }}</div>
    {% endif %}
    <div>{{ address.postcode }} {{ address.city }}</div>
    <div>{{ address.country | trans({}, 'countries') }} {{ address.country }}{% if address.state %} ({{ address.state }}){% endif %}</div>
</div>