{% set locale = app.request.locale %}


{% if price.showType == 'show_price_ht' %}
    <span {% if price.payType != 'pay_price_ht' %}class="light"{% endif %}>{{ price.priceHT | price_format(locale) }}</span>
{% elseif price.showType == 'show_price_ttc' %}
    <span {% if price.payType != 'pay_price_ttc' %}class="light"{% endif %}>{{ price.priceTTC | price_format(locale) }}</span>
{% else %}
    {% if price.payType == 'pay-price_ttc' %}
        <div class="price-show dual">
            <div>
                <span>{{ price.priceTTC | price_format(locale) }}</span><span class="price-show-suffix">{{ 'ttc' | trans }}</span>
            </div>
            <div class="light">
                <span>{{ price.priceHT | price_format(locale) }}</span><span class="price-show-suffix">{{ 'ht' | trans }}</span>
            </div>
        </div>
    {% else %}
        <div class="price-show dual">
            <div>
                <span>{{ price.priceHT | price_format(locale) }}</span><span class="price-show-suffix">{{ 'ht' | trans }}</span>
            </div>
            <div class="light">
                <span>{{ price.priceTTC | price_format(locale) }}</span><span class="price-show-suffix">{{ 'ttc' | trans }}</span>
            </div>
        </div>
    {% endif %}
{% endif %}


