{% extends "admin/admin_base.html.twig" %}

{% block body %}

    <div class="breadcrumb">
        <a href={{ path('admin_home') }} class="breadcrumb-home-link">Administration</a>
        >
        <a href={{ path('admin_post_index') }} class="breadcrumb-link">Publications ({{count_post}})</a>
    </div>

   <div class="admin-container">
        <h1>Publications</h1>


        {# total items count #}
        <div class="admin-count">
            {{ count_post }} résultat{% if count_post > 1 %}s{% endif %}
        </div>
        
        <table class="admin-table social-table">
            <thead>
                <tr>
                    <th>Visuel</th>
                    <th>Titre</th>
                    <th>Nombre de produits associés</th>
                    <th>Date de publication</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="admin-table-td-img">
                            <div class="admin-post-index-iframe-wrapper">
                                {{ post.iframe | raw }}
                            </div>
                        </td>
                        <td>{{ post.title.fr }}</td>
                        <td>{{ post.linkedProducts | length }}</td>
                        <td>{{ post.createdAt.format('d/m/Y H:i') }}</td>
                        <td>
                            <div class="admin-table-controls">
                                <a class="admin-table-button success" href="{{ path('admin_post_show', {id: post.id}) }}" title="Voir">
                                    <svg class="icon">
                                        <use xlink:href="/img/icons/admin_sprite.svg#eye"></use>
                                    </svg>
                                </a>
                                <a class="admin-table-button success" href="{{ path('admin_post_update', {id: post.id}) }}" title="Modifier">
                                    <svg class="icon">
                                        <use xlink:href="/img/icons/admin_sprite.svg#edit"></use>
                                    </svg>
                                </a>
                                <form action="{{ path('admin_post_delete') }}" method="POST">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-post') }}">
                                    <button class="admin-table-button danger" name="id" value="{{ post.id }}" type="submit" title="Supprimer"
                                            data-controller="deleteconfirm" data-deletemessage="{{ 'Supprimer définitivement la publication "' ~ post.title.fr ~ '" ?' }}"
                                    >
                                        <svg class="icon">
                                            <use xlink:href="/img/icons/admin_sprite.svg#delete"></use>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <div class="admin-buttons-fixed-wrapper">
            <a class="admin-button" href="{{ path('admin_post_create') }}">Ajouter une publication</a>
        </div>
   </div>

{% endblock %}